Repository iiasa/message_ix, pull requests merged in 2020-06, with the labels that each got.

#356 Add .eggs to .gitignore
  .gitignore
  message_ix/tests/test_cli.py
Labels: bug

#361 Use GitHub Actions for CI
  .appveyor.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/pytest.yml
  .gitmodules
  .stickler.yml
  .travis.yml
  CONTRIBUTING.rst
  README.md
  ci/appveyor-install.ps1
  ci/conda-requirements.txt
  ci/coveragerc
  ci/env.sh
  ci/pip-requirements.txt
  ci/travis-before_install.sh
  ci/travis-install.sh
  message_ix/tests/data/scenarios.yaml
  message_ix/tests/test_cli.py
  message_ix/tests/test_nightly.py
  setup.cfg
Labels: ci

#362 Update .readthedocs.yml
  .readthedocs.yml
Labels: ci, docs

#372 Adjust to ixmp#317
  doc/source/conf.py
  doc/source/reporting.rst
  message_ix/reporting/computations.py
  message_ix/tests/test_reporting.py
  tutorial/westeros/westeros_report.ipynb
Labels: reporting
